{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <div>This is coming from reactjs/index.twig ;)</div>

  <div>TODO: build a navigation header and a url reference list for implemented react demos</div>

  <ul>
    <li>Reactjs demo1: <a href="/reactjs/demo1">Add react to a website</a></li>
  </ul>

{% endblock %}
